
.App-logo {
  height: 40vmin;
  pointer-events: none;
}
.back:hover{
cursor: pointer;
color: grey;
}
.delete_modal {
  position: fixed;
  top:30%;
  left:30%;
  background-color: rgb(237, 227, 227);
}
.edit-button{
font-size: 40px;
margin: 0;
height: 2rem;
width: 3rem
}
.edit-button:hover{
 cursor: pointer;
 color:grey;
}
.edit_modal{
  position: fixed;
    top: 30%;
    left: 30%;
    background-color: rgb(237, 227, 227);
}
.modal{
  position: absolute;
  z-index: 1;
  width:7rem;
  background-color: grey;
}

#whole{
  display: flex;
  flex-direction: column;
  align-items: center;
}
#nav{
  display: flex;
  justify-content: space-between;
}
#home, #profile{
  margin: 1rem 3rem 
}
.Post{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.likes-tags{
  display: flex;
  width: 23rem;
  justify-content: space-between;
}
.img-post{
  width: 30rem;
  height: 30rem;
  object-fit: contain;
}
.post-image{
  display: flex;
  align-items: center;
}
.post-top{
  width: 30rem;
  display: flex;
  justify-content: space-between;
}
.date{
  margin: 0
}