body{
background-color: rgb(169, 199, 203);
font-family: 'Arimo', sans-serif;
}
#body{
  margin-top:5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.logo{
  font-family: 'Russo One', sans-serif;
  color: rgb(70, 93, 122);
  font-size: 3rem;
  margin-top: 1rem
}
#home-logo{
  font-size: 1.2rem;
}
.add-button{
  margin-top:8rem;
  margin-bottom:.5rem;
  background-color: rgb(160, 179, 189);
  border-radius: 3px;
}
.back:hover{
cursor: pointer;
color: grey;
}
.carousel-button{
  border-radius:30%;
  font-size: 1.5rem;
  margin:13px;
  line-height: 1rem;
  border:2px solid rgb(164, 160, 160);
  color:grey;
}
.carousel-button:active{
background-color: rgba(149, 146, 146, 0.543);
}
.delete_modal {
  position: fixed;
  top:30%;
  padding:3%;
  background-color: white;
  border: 2px solid rgb(70, 93, 122);
  border-radius:15px;
}
#delete-content{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.edit-button{
font-size: 40px;
margin: 0;
height: 2rem;
width: 3rem
}
.edit-button:hover{
 cursor: pointer;
 color:grey;
}
.edit_modal{
  position: fixed;
  top: 30%;
  left: 30%;
  background-color: rgb(237, 227, 227);
}
.elipse{
  font-size: 26px;
}
.elipse:hover{
  color: grey;
}
#edit form{
  display: flex;
  flex-direction: column;
}
#whole{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.Post{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom:2rem;
}
.post-content{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 33rem;
  border-radius: 10px;
  background-color: white;
  box-shadow:10px 0 .8rem rgba(112, 111, 111, 0.382) ;
  padding: 2rem
}
#like-button{
  background-color: white;
  border: none;
  font-size: 1.5rem;
}
.likes-tags{
  display: flex;
  width: 80%;
  justify-content: space-around;
  align-items: center;
}
#likes{
  margin-right: 8rem;
  font-weight: 700;
}
.heart{
  font-size: 1.5rem;
  color: #bf0d0d
}
.divider{
  border: 1px solid rgb(70, 93, 122, 0.3);
  width: 90%;
  margin-top: 1rem;
}
.img-post{
  padding:5px;
  height:20rem;
  width:25rem;
  object-fit: contain;
  border-radius: 1rem;
  box-shadow: 2px 2px .4rem grey;
}
.modal {
  display: flex;
  flex-flow: column;
  align-items: center;
  position: absolute;
  z-index: 0;
  width: 7rem;
  background-color: white;
  padding: 10px;
  border-radius: 10px;
  border: 3px solid rgb(70, 93, 122)
}
.modal-button{
  margin:3px;
  width:6rem;
  height: 2rem;
  background-color: rgb(70, 93, 122);
  color: white;
  border-radius:10px;
  border: none
}
.post-image{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 1rem;
  height: 50%;
  width: 100%;
}
.post-tags{
  background-color:rgb(70, 93, 122);
  text-align: center;
  border-radius: 5px;
}
.post-tags p{
  color: white;
  margin: 10px;
}
.post-text::-webkit-scrollbar {
  display: none;
}
.post-text{
width:70%;
line-height: 1.4rem;
}
.post-top{
  width: 80%;
  display: flex;
  justify-content: space-between;
  padding:1rem;
}
.date{
  margin: 0;
  font-weight: 700;
}
.error{
  color: red
}
.auth-whole{
  display: flex;
}
.auth-content{
  background-color: white;
  padding: 3rem;
  border-radius: 15px;
  box-shadow: 2px 2px .4rem grey;
  margin: 2rem 0 0 3rem;
  display: flex;
  flex-direction: column;
}
.auth-title{
  margin: 2rem 3rem 0 0;
}
.auth-title h2{
  color: white
}
.auth-input{
  width: 13rem;
  height: 2.5rem;
  border-radius: 10px;
  border: 1px solid gray
}
::placeholder{
  color: gray;
  padding-left: 10px;
}
.auth-submit{
  width: 5rem;
  height: 2rem;
  border-radius: 10px;
  border: none;
  background-color:rgb(70, 93, 122);
  color:white;
}
.auth-link h4{
  margin-bottom: 1rem
}
.auth-link a{
  color:rgb(70, 93, 122);
  font-size: 0.9rem;
}
#nav{
  background-color: white;
  width: 100%;
  position: fixed;
  display: flex;
  justify-content: space-around;
  border-bottom: 5px solid rgb(70, 93, 122);
  align-items: center;
  z-index: 1;
}
#nav >*{
  margin: 0.7rem
}
#home, #profile, #logout, button{
  cursor: pointer;
}
#home{
  font-size: 3rem;
  color:rgb(70, 93, 122);
}
#profile{
  object-fit: cover;
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  border: 3px solid rgb(70, 93, 122);
}
#add{
  display: flex;
  flex-direction: column;
  align-items: center;
}
#add-button{
  margin-bottom: 1.5rem;
  width: 10rem;
  height: 2.5rem;
  border: 2px solid rgb(70, 93, 122);
  background-color: white;
  color: rgb(70, 93, 122);
  border-radius: 10px;
  font-family: 'Arimo', sans-serif;
  font-weight: 600;
  font-size: 1rem;
}
#add form{
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 2rem;
  margin-bottom: 2rem;
  border-radius: 10px;
}
textarea{
  resize: none;
  height: 4rem;
  font-family: 'Arimo', sans-serif;
}
.add-input{
  width: 16rem;
  height: 2rem;
  border-radius: 10px;
  border: 2px solid rgb(198, 198, 198)
}
.more{
  width: 5rem;
  height: 2rem;
  border: 2px solid rgb(70, 93, 122);
  background-color: white;
  border-radius: 10px;
  color: rgb(70, 93, 122);
  font-family: 'Arimo', sans-serif;
  margin-top: 1rem;
}
.add-submit{
  background-color: rgb(70, 93, 122);
  color: white;
  height: 2.5rem;
  width: 16rem;
  border-radius: 10px;
  border: none
}
.user{
  display: flex;
  flex-direction: column;
  align-items: center;
}
#profile-pic{
  width: 25rem;
  height: 25rem;
  border-radius: 50%;
  border: 3px solid rgb(70, 93, 122);
  object-fit: cover;
  margin-top: 1rem
}
#user-info{
  background-color: white;
  border-radius: 15px;
  padding: 1rem 2rem;
  margin: 2rem
}
.profile-button{
  width: 12rem;
  height: 3rem;
  margin: 1rem;
  border: 2px solid rgb(70, 93, 122);
  border-radius: 10px;
  background-color: white;
  color: rgb(70, 93, 122);
  font-weight: 600;
}
#delete-user{
  color: red;
}
#edit-user form{
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 2rem;
  margin-bottom: 2rem;
  border-radius: 10px;
}

@media (max-width:650px){
#nav{
  justify-content: center;
}
.post-content{
  width: 15rem
}
.img-post{
  height: 16rem;
  width: 13rem
}
.carousel-button{
  margin: 4px
}
.likes-tags{
  width: 18rem;
}
#likes{
  margin: 0;
}
.post-tags p{
  margin: 5px
}
.delete_modal{
  width: 18rem
}
#delete-content h1{
  margin-top: 0
}
#profile-pic{
  width: 15rem;
  height: 15rem
}
#user-info{
  text-align: center;
}
#user-info h2{
  font-size: 1.2rem;
}
.auth-whole{
  flex-direction: column;
  align-items: center;
}
.auth-content, .auth-title{
  margin: 0
}
.auth-title h2, .auth-title h1{
  margin-top: 0;
  margin-bottom: 0.5rem;
}
.auth-content{
  padding:2rem
}
#home{
  font-size: 2rem;
}
#profile{
  width: 2rem;
  height: 2rem;
}
#logout{
  font-size: 1rem;
}
}
@media (max-width:390px){
  .modal{
    right:1.5rem
  }
}